extends layout

block body
  body(id= locals.bodyId)
    include header
    article(class=type)
      .row
        a.permalink(href="")= locals.postData.formattedDate       
        .postTitle
          h1(style="margin-top: 0;")= locals.postData.title         
        .large-2.hide-for-small.columns
      .row
        .postContent!= locals.postData.postBody
      if locals.relatedPosts
        .row
          .postContent
            hr
            p Related posts:
            ul
              for post in locals.relatedPosts
                li
                  a(href= post.permalink)= post.title

    include footer